{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <!-- pybo CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'index1.css' %}">
        <title>Hello, pybo!</title>
  </style>
</head>
<body class="body">    
  <main key="1" class="card">
    <div class="card-content">
      <div class="card-header">
        <h1 class="text-2xl font-bold"><a href="index2.html">배틀그라운드란?</a></h1>
        <div class="items-center" variant="outline">
        </div>
      </div>
      <div class="p-6">
       <a href="index2.html">Details</a>
        <div class="h-72 w-full max-w-sm rounded-md border">
          <div class="p-4 text-sm">
            
            <p class="mt-4 leading-7">
                
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>